# IntelliJ project files
.idea
*.iml
out
gen

# Environment file
.env
venv

# Python cache files
__pycache__/

Archive/theaquarium.json
current_activity.json
credentials.json
token.json
player_activity.json
